---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("./*.md")
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
const recentPosts = sortedPosts.slice(0, 3);
const olderPosts = sortedPosts.slice(3);
---
<Layout title="Home">
  <section class="recent-posts">
  {recentPosts.map(post => (
    <div class="post recent">
        <a href={`.${post.url}/`}>
          <div class="blog-thumb">{post.frontmatter.image && <img src={post.frontmatter.image} alt={post.frontmatter.title} />}</div>
          <div>
            <div>{post.frontmatter.title}</div>
            <small>{new Date(post.frontmatter.date).toLocaleDateString()}</small>
          </div>
        </a>
      </div>
    ))}
  </section>

<section class="post-list">
    {olderPosts.map(post => (
      <div class="post">
        <a href={`.${post.url}/`}>
          <div>
            <div>{post.frontmatter.title}</div>
            <small>{new Date(post.frontmatter.date).toLocaleDateString()}</small>
          </div>
        </a>
      </div>
    ))}
  </section>
</Layout>
<style>
  .post.recent {
    background-color: var(--white);
  }
.blog-thumb {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}
  @media (min-width: 768px) {
        .recent-posts {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
        }
    }
</style>

