---
const { lie1, lie2, lie3, name, staffImage } = Astro.props;
---

<div class="staffContainer">
    <div class="staffText">
        <h3>{name}</h3>
        <p>
            {lie1}
        </p>
        <p>
            {lie2}
        </p>
        <p>
            {lie3}
        </p>
    </div>
    <div class="staffImage">
        <img src={staffImage} alt="" />
    </div>
</div>
<style>
    div.staffContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--extra-light-grey);
        padding: 2rem;
        margin: 0.5rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        transition:
            border-radius 300ms ease,
            background 100ms ease;
        overflow: hidden;
        position: relative;
    }
    div.staffContainer:hover {
        border-radius: 0;
        background: var(--brand-gold);
    }
    .staffText {
        z-index: 2;
    }
    .staffImage {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    div.staffContainer .staffImage {
        opacity: 1;
        transition: opacity 500ms ease;
    }

    div.staffContainer:hover .staffImage {
        opacity: 0;
    }
</style>
