---
const { heading, description, image, id, reverse = false, link } = Astro.props;
---

<div
    id={id}
    class={reverse ? "reverse item-tile" : "item-tile"}
    style=`background: url(${image}) no-repeat center;background-size: cover;`
>
    <div class={reverse ? "reverse bubble" : "bubble"}>
        <div class="item-text">
            <h3>{heading}</h3>
            <p>{description}</p>
            {link && (<p><a href={link}>Read more</a></p>)}
        </div>
    </div>
</div>
<style>
    .item-tile {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .reverse.item-tile {
        align-items: flex-end;
        justify-content: flex-start;
    } 
    .item-text {
        /* padding: 2rem; */
    }

    .item-text h3 {
        text-align: right;
        color: var(--brand-teal);
    }

    .item-text p {
        color: var(--brand-teal);
        text-align: right;
    }

    .bubble {
        --bubble-width: 500px;
        --bubble-border-radius: calc(var(--bubble-width)/2.4);
        background-color: var(--brand-gold-80);
        border-radius: var(--bubble-border-radius) var(--bubble-border-radius) 0 var(--bubble-border-radius);
        width: var(--bubble-width);
        aspect-ratio: 39 / 33;
        margin: 10rem;
        padding: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reverse.bubble {
        --bubble-width: 500px;
        --bubble-border-radius: calc(var(--bubble-width)/2.4);
        background-color: var(--brand-gold-80);
        border-radius: var(--bubble-border-radius) var(--bubble-border-radius) var(--bubble-border-radius) 0;
        width: var(--bubble-width);
        aspect-ratio: 39 / 33;
        margin: 10rem;
        padding: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reverse .item-text h3 {
        text-align: left;
        color: var(--brand-teal);
    }

    .reverse .item-text p {
        color: var(--brand-teal);
        text-align: left;
    }

    @media (max-width: 1350px) {
        .reverse.bubble, .bubble {
            margin: 2rem;
        }
    }

    /* .item-text {
        padding: 2rem;
        backdrop-filter: blur(4px) saturate(20%);
        transition: backdrop-filter linear 200ms;
    }
    .item-text:hover {
        backdrop-filter: blur(0px) saturate(100%);
        transition: backdrop-filter linear 200ms;
    } */
</style>


