---
const {frontmatter} = Astro.props;
---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/yns1vuo.css">
	<link rel="stylesheet" href="/global.css">

  </head>
  <!-- ... -->
  <h1>{frontmatter.title}</h1>
  <h2>Post author: {frontmatter.author}</h2>
  <p>{frontmatter.description}</p>
  <slot /> <!-- Markdown content is injected here -->
  <!-- ... -->
</html>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	h1 {
		color: steelblue;
	}
</style>